[submodule "MobileMix/Source/External/readerwriterqueue"]
	path = GoatMix/Source/External/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
[submodule "External/JUCE"]
	path = External/JUCE
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "External/AudioFilePlayerPlugin"]
	path = External/AudioFilePlayerPlugin
	url = https://github.com/jonathonracz/AudioFilePlayerPlugin.git
[submodule "External/vst3sdk"]
	path = External/vst3sdk
	url = https://github.com/steinbergmedia/vst3sdk.git
[submodule "MobileMix/Source/External/juce-toys"]
	path = GoatMix/Source/External/juce-toys
	url = https://github.com/jonathonracz/juce-toys.git
